.board
    display: grid
    position: relative
    width: calc(8 * var(--tile-size))
    height: calc(8 * var(--tile-size))

    .markers
        color: white
        opacity: 0.4
        position: absolute
        margin: 0.5rem
        font-weight: bold
        font-size: 1.2rem

        &--files
            right: 0
            bottom: 0

        &--dark-text
            color: black

.tiles
    display: grid
    grid-template-columns: repeat(8, var(--tile-size))
    grid-template-rows: repeat(8, var(--tile-size))
    width: calc(8 * var(--tile-size))

.tile
    position: relative

.highlight:after
    display: block
    position: absolute
    content: ''
    width: calc(.35*var(--tile-size))
    height: calc(.35*var(--tile-size))
    background: var(--highlight)
    border-radius: 50%
    left: 32%
    top: 32%

.attacking:after
    display: block
    box-sizing: border-box
    position: absolute
    content: ''
    border: 9px solid rgba(black, .1)
    width: var(--tile-size)
    height: var(--tile-size)
    border-radius: 50%

.checked:after
    display: block
    content: ''
    width: var(--tile-size)
    height: var(--tile-size)
    background: var(--check)

@mixin context-highlight
    display: block
    content: ''
    width: var(--tile-size)
    height: var(--tile-size)
    opacity: 0.8

.red:after
    @include context-highlight
    background: var(--red)

.orange:after
    @include context-highlight
    background: rgb(255, 170, 0)

.green:after
    @include context-highlight
    background: rgb(172, 206, 89)

.blue:after
    @include context-highlight
    background: rgb(82, 176, 220)
