.sidebar
    border-radius: .5rem
    background: #262522
    overflow: hidden
    height: 80vh
    width: 25rem
    margin-left: 2rem
    display: flex
    flex-direction: column
    justify-content: space-between

    &__top
        background: #f1f1f1
        padding: 0.5rem
        display: flex
        justify-content: center
        align-items: center
        gap: 0.5rem

        .perspective-turn
            background: white
            border-radius: 1px
            border: 2px solid #dad8d6
            height: 1.5rem
            width: 1.5rem

        p
            font-weight: 800
            font-size: 1.2rem
            margin-left: 0.2rem

    &__current
        display: flex
        justify-content: space-between
        align-items: center
        margin: 1rem 1.5rem

        .profile
            display: flex
            align-items: center

            img
                border-radius: 20px
                height: 80px
                width: 80px

            h2
                color: white
                margin-left: 1.5rem
                font-size: 2.5rem
                font-weight: 800

        .time
            color: grey

    &__bottom
        padding-bottom: 2rem
        color: #21201d

        button
            outline: none
            background: rgba(white, 0.1)
            color: white
            border-radius: 5px
            flex: auto
