@import './constants.css';

@font-face {
  font-family: 'montserrat';
  font-weight: 800;
  src: url(./assets/montserrat-800.woff2) format('woff2');
}

@font-face {
  font-family: 'montserrat';
  font-weight: 700;
  src: url(./assets/montserrat-700.woff2) format('woff2');
}

@font-face {
  font-family: 'chess glyph';
  src: url('./assets/chessglyph-v3.woff2') format('woff2');
}

html, body {
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  place-content: center;
  height: 100vh;
  background: var(--bg-color);
  font-family: 'montserrat', sans-serif;
  grid-template-columns: auto 240px;

}

.take-back {
  background: var(--dark-tile);
  color: var(--light-tile);
  border: 0 none;
  padding: 10px 30px;
  margin: 10px 0;
  font-size: 1.1em;
}

::backdrop {
  background: black;
  opacity: 0.6;
}

.control-icons {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

#show {
  display: none;
}

.control-icons:hover #show {
  display: block;
}

.control-icon::before {
  font-family: 'chess glyph';
  font-size: 1.3rem;
  color: white;
  opacity: .5;
}

.control-icon {
  background: none;
  border: none;
  height: min-content;
  padding: 0;
  cursor: pointer;
}

.gear-icon::before {
  content: '\00B7';
}

.flip-icon::before {
  content: '\0066';
}

.smiley-icon::before {
  content: '\1F44';
}

.board-wrapper {
  display: flex;
  gap: .5rem;
}